* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declaração de cores do projeto */

:root {
    --bg-gradiente: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(96, 119, 182) 100%);
    --destaque-claro: #6386c5;
    --destaque-escuro: #506b9e;
    --cinza-escuro: #202020;
}

/* Animação do logo */

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--destaque-claro);
    }
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid var(--destaque-claro);
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: .15em;

    animation: typing 2.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

.logo_container {
    width: fit-content;
}

.logo::before {
    content: "<";
}

.logo::after {
    content: "/>";
}

/* Estilo geral do site (mobile first) */

body {
    color: #ffffff;
    background-color: #000000;
    background: var(--bg-gradiente);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.pagina1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 80vh;
    gap: 2rem;
    padding: 1rem;
}

.noscroll {
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--cinza-escuro);
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 2px;
    text-transform: lowercase;
}

nav a:hover {
    color: var(--destaque-escuro);
    filter: drop-shadow(0 3px 2px var(--cinza-escuro));
}

.ativo {
    color: var(--destaque-escuro);
    border-bottom: 2px solid var(--destaque-claro);
    width: fit-content;
}

.titulo {
    margin: 1rem 0;
    border-bottom: 2px solid var(--destaque-claro);
    font-family: 'Courier Prime', monospace;
    width: fit-content;
}

h1 {
    font-weight: 300;
    font-size: 1.6rem;
}

h2 {
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 300;

    background-color: var(--destaque-escuro);
    box-shadow: 0 2px 3px var(--cinza-escuro);
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: 300;

    margin: 1rem;
    border-bottom: 2px solid var(--destaque-claro);
    font-family: 'Courier Prime', monospace;
}

hr {
    height: 2px;
    border: none;
    background-color: #ffffff;
}

footer {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

#icones a>img:hover {
    filter: drop-shadow(0 3px 1px var(--cinza-escuro));
}

/* Formulário */

.pagina3 {
    height: 70vh;
    display: flex;
    align-items: center;
    margin: 1rem;
}

form {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
}

input,
textarea {
    background-color: transparent;
    color: #fff;
    border: 2px solid var(--destaque-claro);
    padding: .5rem;
    border-radius: 8px;
    font-family: inherit;
    font-size: .8rem;
}

input:focus,
textarea:focus {
    border: 2px solid #fff;
}

textarea {
    height: 100px;
}

.botao-enviar {
    grid-column: 2;
    padding: .5rem;
    border: 2px solid var(--destaque-claro);
    font-weight: 600;
}

.botao-enviar:hover {
    cursor: pointer;
    background-color: var(--destaque-claro);
    color: var(--cinza-escuro);
}

/* Página - Sobre */
.sobre {
    text-align: center;
    display: grid;
    margin: 2rem 1rem;
    gap: 2rem;
}

.texto_sobre {
    font-size: .8rem;
    text-align: justify;
}

.avatar {
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.habilidades {
    border: 1px solid #ffffff;
}

.habilidades>ul {
    margin: 1rem;
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    font-size: .8rem;
}

.habilidades>ul>li {
    background: var(--destaque-claro);
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 3px 3px var(--cinza-escuro);
}

.info_extra {
    border: 1px solid #ffffff;
}

#info {
    text-align: left;
    margin: 1rem;
    animation: slideDown .7s forwards;
}

.lista {
    list-style: none;
    margin: 1rem;
}

/* Páginas - Educação / Portfolio */

.pagina2 {
    margin: 1rem;
}

.grid_container {
    display: grid;
    gap: 1rem;
    justify-content: center;
}

.card {
    background-color: var(--destaque-claro);
    width: 100%;
    padding: 1rem;
    color: var(--cinza-escuro);
    border-radius: 10px;
}

.card>h2 {
    margin-bottom: 1rem;
}

.card>p>span {
    font-weight: 700;
}

.card>p>a {
    color: var(--cinza-escuro);
}

.card>p>a:hover {
    color: #ffffff;
    background-color: var(--destaque-escuro);
    text-decoration: none;
}

.img-projeto {
    width: 100%;
    padding: 10px;
    background-color: #fff;
}